.info-page {
    min-height: 100vh;
    background: #FFF0F0;
    padding: 70px 10px 90px;

}

.info-hero {
    width: min(100%, 850px);
    margin: 0 auto 45px;
    text-align: center;
}

.page-subtitle {
    max-width: 620px;
    margin: 15px auto 0;
    line-height: 1.8;
    text-align: center;
}

.contact-page {
    padding-top: 60px;
}

.contact-hero {
    max-width: 700px;
    margin: 0 auto 40px;
    text-align: center;
}

.contact-hero h1 {
    margin: 0 0 15px;
    font-family: "Berkshire Swash", cursive;
    font-size: 48px;
    font-weight: 200;
    color: #5e2e00;
}

.contact-hero p {
    margin: 0 auto;
    max-width: 650px;
    font-family: "Albert Sans", sans-serif;
    font-size: 18px;
    line-height: 1.7;
    color: #5e2e00;
}

.contact-cards {
    width: min(100%, 870px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.contact-card {
    min-height: 365px;
    padding: 32px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ffa7a7;
    border-radius: 14px;
    background: #ffeecc;
    box-shadow: 0 18px 35px rgba(104, 68, 43, 0.08);
}

.contact-icon {
    width: 62px;
    height: 62px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffdad8;
    color: #5e2e00;
    font-size: 25px;
}

.contact-card h2 {
    margin: 0 0 12px;
    font-family: "Albert Sans", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #5e2e00;
}

.contact-card p {
    max-width: 330px;
    margin: 0;
    font-family: "Albert Sans", sans-serif;
    font-size: 15px;
    line-height: 1.65;
    color: #5e2e00;
}

.contact-handle {
    margin-top: auto;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 600;
    color: #e75353;
}

.contact-button {
    width: 100%;
    padding: 14px 20px;
    border-radius: 999px;
    background: #f38383;
    color: #5e2e00;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: 0.25s ease;
}

.contact-button:hover {
    transform: translateY(-2px);
    background: #ffa7a7;
    box-shadow: 0 7px 16px #e75353;
}

.custom-orders {
    width: min(100%, 650px);
    margin: 55px auto 0;
    padding: 28px 45px 25px;
    text-align: center;
    border-radius: 12px;
    background: #ffa7a780;
    box-shadow: 0 15px 35px rgba(104, 68, 43, 0.08);
}

.custom-order-icon {
    width: 24px;
    height: 24px;
    margin: -5px auto 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #6e4038;
    color: #ffffff;
    font-size: 14px;
}

.custom-orders h2 {
    margin: 0 0 10px;
    font-family: "Albert Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #5e2e00;
}

.custom-orders p {
    max-width: 560px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.65;
    color: #5e2e00;
}



.faq-accordion {
    width: min(100%, 800px);
    margin: 0 auto;
}

.faq-item {
    margin-bottom: 8px;
    border: 1px solid #f383834d;
    border-radius: 20px;
    overflow: hidden;
    background: #ffeecc;
}

.info-hero h1 {
    font-family: "Berkshire Swash", cursive;
    font-size: 48px;
    font-weight: 300;
    color: 5e2e00;
}

.info-hero p {
    font-family: "Albert Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #5e2e00;
}

.faq-question {
    width: 100%;
    padding: 14px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: transparent;
    color: #5e2e00;
    font-family: "Albert Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    cursor: pointer;
}

.faq-icon {
    font-size: 20px;
    transition: transform 0.25s ease;
}


.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.faq-answer p {
    margin: 0;
    padding: 0 18px 16px;
    color: #5e2e00;
    font-size: 18px;
    font-family: "Albert Sans", sans-serif;
    line-height: 1.7;
    text-align: justify;
}

.faq-item.active .faq-answer {
    max-height: 250px;
}

.faq-item.active .faq-icon {
    transform: rotate(45deg);
}




.priv-hero h1 {
    font-family: "Berkshire Swash", cursive;
    text-align: center;
    color: #000;
    font-size: 48px;
    font-weight: 300;
    margin-top: -20px;
}

.priv-hero p {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    color: #000;
}

.privacy-content {
    width: min(100%, 1000px);
    margin: 0 auto;
    text-align: justify;
}

.policy-section {
    margin-bottom: 34px;
}

.policy-section h2 {
    margin-bottom: 12px;
    font-family: "Abhaya Libre", serif;
    font-size: 30px;
    color: #000;
}

.policy-section p,
.policy-section li {
    color: #000;
    font-size: 16px;
    line-height: 1.8;
}

.policy-section ul {
    margin: 14px 0 0;
    padding-left: 20px;
}

.policy-contact {
    width: min(100%, 650px);
    margin: 60px auto 0;
    padding: 45px 30px;
    text-align: center;
    border-radius: 8px;
    background: #fff0f0;
}

.message-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 14px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: #e75353;
    color: white;
    text-align: center;
    font-size: 30px;
}

.policy-contact h2 {
    margin-bottom: 10px;
    font-family: "Berkshire Swash", cursive;
    color: black;
    font-weight: 200;
}

.policy-contact p {
    max-width: 480px;
    margin: 0 auto 22px;
    color: #5e2e00;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 1.7;
}

.primary-button {
    display: inline-block;
    padding: 11px 25px;
    border-radius: 20px;
    background: #e75353;
    color: white;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: -20px;
}

.primary-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 7px 16px #e75353;
}




.shipping-page {
    width: 100%;
    padding: 50px 20px 70px;
}

.shipping-hero {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0 65px;
}

.shipping-hero h1 {
    margin: 0 0 14px;
    font-family: "Berkshire Swash", cursive;
    font-size: 48px;
    font-weight: 200;
    color: #5e2e00;
}

.shipping-hero p {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #5e2e00;
}

.shipping-notice {
    max-width: 1000px;
    margin: 0 auto 48px;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    border: 1px solid #DAC1BC;
    border-radius: 12px;
    background: #fffbf1;
}

.notice-icon {
    color: #934436;
    font-size: 1.2rem;
    line-height: 1;
}

.notice-content h3 {
    margin: 0 0 8px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    color: #934436;
}

.notice-content p {
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
    color: #5e2e00;
}


.shipping-journey {
    max-width: 1000px;
    margin: 0 auto 65px;
    padding: 38px 35px;
    border-radius: 12px;
    background: #ffffff;
}

.shipping-journey > h2 {
    margin: 0 0 35px;
    text-align: center;
    font-family: "Abhaya Libre", serif;
    font-size: 32px;
    color: #5e2e00;
}

.journey-timeline {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.journey-step {
    position: relative;
    text-align: center;
}

.journey-icon {
    position: relative;
    z-index: 2;
    width: 48px;
    height: 48px;
    margin: 0 auto 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #f3838370;
    color: #ffffff;
    font-size: 20px;
}

.journey-line {
    position: absolute;
    top: 24px;
    left: 50%;
    width: 100%;
    height: 1px;
    background: #e4cccc;
    z-index: 1;
}

.journey-step:last-child .journey-line {
    display: none;
}

.journey-step h3 {
    margin: 0 0 4px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: black;
}

.journey-step p {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #5e2e00;
}

.shipping-details {
    max-width: 1000px;
    margin: 0 auto 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
}

.shipping-detail {
    padding: 0 18px;
}

.detail-icon {
    width: 38px;
    height: 38px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffffff;
    color: #e27676;
    font-size: 1rem;
}

.shipping-detail h2 {
    margin: 0 0 12px;
    font-family: "Abhaya Libre", serif;
    font-size: 32px;
    color: #000;
}

.shipping-detail p {
    margin: 0;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    line-height: 1.7;
    color: #5e2e00;
    text-align: justify;
}



.shipping-methods {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #dfd2cb;
    border-radius: 10px;
    background: #ffffff;
}

.shipping-methods > h2 {
    margin: 0;
    font-family: "Abhaya Libre", serif;
    font-size: 30px;
    color: #5e2e00;
}

.methods-divider {
    height: 1px;
    margin: 14px 0 22px;
    background: #e6ddd7;
}

.method-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.shipping-method-card {
    padding: 20px;
    border-radius: 10px;
    background: #ffa7a780;
}

.shipping-method-card h3 {
    margin: 0 0 8px;
    font-family: "Abhaya Libre", serif;
    font-size: 25px;
    color: #5e2e00;
}

.shipping-method-card > p {
    min-height: 42px;
    margin: 0;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    color: #000;
}

.method-divider {
    height: 1px;
    margin: 16px 0;
    background: rgba(100, 70, 60, 0.2);
}

.method-info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.method-info div {
    display: flex;
    flex-direction: column;
}

.method-info span {
    margin-bottom: 3px;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "Inter", sans-serif;
    color: #5e2e00;
}

.method-info strong {
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #5e2e00;
}

.method-fee {
    text-align: right;
}



.shipping-bottom-grid {
    max-width: 1000px;
    margin: 20px auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.shipping-bottom-card {
    padding: 22px;
    border: 1px solid #ded2c6;
    border-radius: 10px;
    background: #fffdf5;
}

.bottom-icon {
    font-size: 20px;
    display: inline-block;
    margin-right: 8px;
}

.shipping-bottom-card h2 {
    display: inline;
    margin: 0;
    font-family: "Abhaya Libre", serif;
    font-size: 24px;
    color: #000;
}

.shipping-bottom-card p {
    margin: 15px 0 0;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    line-height: 1.65;
    color: #000;
    text-align: justify;
}


@media (max-width: 700px) {

    .shipping-page {
        padding: 40px 15px 60px;
    }

    .shipping-hero {
        padding-bottom: 45px;
    }

    .shipping-hero h1 {
        font-size: 2.2rem;
    }

    .shipping-details,
    .method-grid,
    .shipping-bottom-grid {
        grid-template-columns: 1fr;
    }

    .shipping-details {
        gap: 30px;
    }

    .journey-timeline {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .journey-line {
        display: none;
    }

    .shipping-notice {
        padding: 20px;
    }

}


@media (max-width: 650px) {

    .info-page {
        padding: 50px 15px 70px;
    }

    .contact-content {
        grid-template-columns: 1fr;
    }

    .info-hero h1 {
        font-size: 2rem;
    }

}